{% include header.html %}

<head>
<!--   <style>
    #window {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 300px;
      border: 2px solid #000;
      transform: translate(-50%, -50%);
    }
  </style> -->
  

  <title>Home Page</title>
  <style>
    canvas {
      display: block;
    }
  </style>
</head>
<body>
    <script src='/static/js/test_js.js'></script>
    <script>
        // Create a new <div> element
        var blueBox = document.createElement("div");

        // Set the width, height, background color, and position
        blueBox.style.width = "100px";
        blueBox.style.height = "100px";
        blueBox.style.backgroundColor = "red";
        blueBox.style.position = "absolute";
        blueBox.style.top = "20%";
        blueBox.style.left = "20%";
        blueBox.style.transform = "translate(-20%, -20%)";

        // Append the blue box to the body of the webpage
        document.body.appendChild(blueBox);
    </script>
</body>
  




{% include footer.html %}
