{% include header.html %}

<head>
  <style>
    #window {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      height: 300px;
      border: 2px solid #000;
      transform: translate(-50%, -50%);
    }
  </style>
</head>


<body>
  
  <div class="container px-2 max-width: 100%">
      <img class="img-fluid mx-auto d-block" src="/static/img/banner-image.jpg" alt="Shiny molecules on a computer">
      <div class="row"> 
          <div class="col-sm-8">	
              <div class="jumbotron h-100">
                  {{ content }}
              </div>
          </div>
          <div class="col">
              {% include sidebar.html %}
          </div>
      </div>
  </div>

  <div id="window"></div>

  <script>
    // Create a window element
    const windowElement = document.getElementById('window');

    // Set up the trailing effect
    let isTrailing = false;
    let trailColor = '#FF0000';
    const trailSize = 20;
    const trailDelay = 50;
    const trailDuration = 500;

    // Function to create a trailing dot
    function createTrailDot(x, y, color) {
      const dot = document.createElement('div');
      dot.classList.add('trail-dot');
      dot.style.backgroundColor = color;
      dot.style.left = `${x}px`;
      dot.style.top = `${y}px`;
      windowElement.appendChild(dot);

      setTimeout(() => {
        dot.remove();
      }, trailDuration);
    }

    // Event listener for mousemove inside the window
    windowElement.addEventListener('mousemove', (event) => {
      const x = event.clientX;
      const y = event.clientY;

      if (isTrailing) {
        for (let i = 0; i < trailSize; i++) {
          const delay = i * trailDelay;
          setTimeout(() => {
            createTrailDot(x, y, trailColor);
          }, delay);
        }
      }
    });

    // Event listener for mouseenter and mouseleave to toggle the trailing effect
    windowElement.addEventListener('mouseenter', () => {
      isTrailing = true;
    });

    windowElement.addEventListener('mouseleave', () => {
      isTrailing = false;
    });
  </script>
</body>


{% include footer.html %}
